@model NextDaysMealViewModel
<h1>Shopping list for next 3 days</h1>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Recipes</th>
            <th scope="col">Ingredients - aggregated</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var recipes in Model.AggregatedRecipes)
                {
                    @recipes.Value<span> x </span>@recipes.Key.Name<br />
                }
            </td>
            <td>
                @foreach (var ingredients in Model.AggregatedIngredients)
                {
                    @ingredients.Value<span>&nbsp;&nbsp;</span>@ingredients.Key.Unit.Name<span>&nbsp;&nbsp;</span>@ingredients.Key.Name <br />
                }
            </td>
        </tr>
    </tbody>
</table>

