@model EditUserSettingsViewModel

@{
    ViewData["Title"] = "User settings";
}
<h2>"User settings"</h2>

<form asp-controller="UserSettings" asp-action="Index" method="post">
    <div>
        <label asp-for="EditUserSettingsRequest.NumberOfWeeksInCycle">Number of weeks in cycle</label>
        <input type="text" asp-for="EditUserSettingsRequest.NumberOfWeeksInCycle" class="form-control" />
        <span asp-validation-for="EditUserSettingsRequest.NumberOfWeeksInCycle" class="text-danger"></span>
    </div>
    @using (Html.BeginForm("UserSettings", "Index", FormMethod.Post))
    {
        <span>Monday: </span> @Html.CheckBox("Monday", true)
        <span> | Tuesday: </span> @Html.CheckBox("Tuesday", false)
        <span> | Wednesday: </span> @Html.CheckBox("Wednesday", false)
        <span> | Thursday: </span> @Html.CheckBox("Thursday", false)
        <span> | Friday: </span> @Html.CheckBox("Friday", false)
        <span> | Saturday: </span> @Html.CheckBox("Saturday", false)
        <span> | Sunday: </span> @Html.CheckBox("Sunday", false)
    }
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
<button type="button" class="btn btn-info" onclick="history.back()">Back</button>
